:root {
  font-size: medium;
  line-height: 1.45;
}

.btns {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 0.4rem;
}

#canvas {
  border: 1px solid black;
  min-height: 40rem;
  max-width: 40rem;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
}

#canvas > div {
  flex: auto;
}

select {
  flex-basis: 6rem;
}
