:root {
  font-size: medium;
}

body {
  margin: 0;
}

#grid-container {
  margin: 1rem auto 0;
  min-height: 35rem;
  max-width: 35rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

#grid-container > div {
  background-color: #000;
  /* 100 / 16 = 6.25 */
  flex-basis: 6.25%;
  max-height: 6.25%;
}
